@import "mixins";
@import "variable";

@font-face {
  font-family: robson-semibold;

  src: url("./../fonts/robson/Fontspring-DEMO-robson-semibold.otf");
}

@font-face {
  font-family: Poppins-Regular;

  src: url("./../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Bold;

  src: url("./../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;

  src: url("./../fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins-Medium;

  src: url("./../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: Sf-R;

  src: url("./../fonts/sf-ui/FontsFree-Net-SF-UI-Display-Regular-1.ttf");
}
@font-face {
  font-family: Sf-Sb;

  src: url("./../fonts/sf-ui/sf-ui-display-semibold-58646eddcae92.woff");
}
@font-face {
  font-family: Sf-M;

  src: url("./../fonts/sf-ui/sf-ui-display-medium-58646be638f96.woff");
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8f3f0;
}

// ===========================
// navbar content start
// ===========================

/*for fixed header*/
.header {
  min-height: 60px;
  background-color: white;
  // padding: 0px 40px;
  .nvbar-edit {
    min-height: 60px;
    background-color: white;
    padding: 0px 40px;
    .logo-edit {
      font-size: 25px;
    }
    .navIcons-top {
      flex-direction: row;
      gap: 25px;
      .nav-item {
        .menubar-items {
          font-family: Sf-R;
          font-size: 13px;
          display: flex;
          align-items: center;

          .icooons {
            height: 16px;
            margin-right: 5px;
          }
        }
      }
    }
    .hamburger-edit {
      display: none;
      cursor: pointer;
      @include md {
        display: block;
      }
      @include sm {
        display: block;
      }
      @include xsm {
        display: block;
      }
      &.active {
        .bar {
          background-color: black;
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 0px;
        transition: all 0.4s ease;
        background-color: black;
      }
    }
    .nav-menu {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding-left: 0px;

      @include md {
        width: 80%;
        display: block;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.6s;

        &.active {
          left: 0;
          top: 70px;
          background-color: yellow;
        }
      }
      @include sm {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.6s;
        display: block;
        width: 80%;

        &.active {
          left: 0;
          top: 70px;
          background-color: white;
        }
      }
      @include xsm {
        width: 80%;
        display: block;
        position: fixed;
        left: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;

        text-align: center;
        transition: 0.6s;

        &.active {
          left: 0;
          top: 0px;
          background-color: white;
        }
      }
      .navUl-edit {
        margin-left: auto;
        @include sm {
          text-align: start;
        }
        @include md {
          text-align: start;
        }
        @include xsm {
          text-align: start;
        }
        .search-boxTop {
          position: relative;
          .search-inpBox {
            padding-left: 35px;
            height: 37px;
            width: 600px;
            font-size: 15px;
            background: #f8f8f8;
            font-family: Sf-R;
          }
          .search-icon {
            position: absolute;
            top: 30%;
            left: 12px;
            height: 15px;
          }
        }
      }

      .navbar-nav {
        .nav-item {
          .language-select {
            font-family: Sf-R;
            font-size: 13px;
            border: none;
            background: transparent !important;
            color: #000000;
            display: flex;
            align-items: center;
            .icooons {
              height: 16px;
              margin-right: 5px;
            }
          }

          .menubar-items {
            font-family: Sf-R;
            font-size: 13px;
            color: #000000;
            display: flex;
            align-items: center;

            .icooons {
              height: 16px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .bottom-nav {
    width: 100%;
    height: auto;
    background-color: white;
    height: 50px;
    border-bottom: 0.1px solid #ccc9c9;
    @include xsm {
      display: block;
      height: 100vh;
    }
    @include sm {
      display: block;
      height: auto;
    }
    @include md {
      display: block;
      height: auto;
    }

    .categories-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0px;
      height: 50px;
      position: relative;
      margin: 0px 40px;

      @include xsm {
        display: block;
        height: auto;
      }
      @include sm {
        display: block;
        height: auto;
      }
      @include md {
        display: block;
        height: auto;
      }
      .product-categoriesLIst {
        font-size: 15px;
        @include xsm {
          padding: 10px;
          border-bottom: 0.1px solid #ccc9c9;
          font-size: 15px;
        }
        &.Menu-top {
          text-align: center;
        }
      }
      .edit-NVItems {
        position: unset;
        &:hover {
          .Drop-Menu {
            @include lg {
              display: flex;
              &.show {
                display: flex;
              }
            }
            @include xlg {
              display: flex;
              &.show {
                display: flex;
              }
            }
          }
        }
        .edit-home {
          color: #00000080;
          font-size: 18px;
          font-family: "TTcommons-regular";
          padding: 0px;
          &::after {
            display: none;
          }
          &:active {
            @include sm {
              pointer-events: auto;
            }
            @include xsm {
              pointer-events: auto;
            }
            @include md {
              pointer-events: all;
            }
            pointer-events: none;
          }
          .down-arrow {
            height: 15px;
            margin-left: 4px;
          }
        }
        .Drop-Menu {
          // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
          //   0 3px 6px rgba(0, 0, 0, 0.23);
          border: none;
          border-radius: 0;
          padding: 0.7em;
          position: absolute;
          // top: 48px;
          left: 0px;
          width: 100%;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          border-top: 0.5px solid grey;
          .dropBox-Data {
            list-style: none;
            padding: 0;
            .edit-lists {
              .Box-items {
                color: gray;
                font-size: 1em;
                padding: 0.5em 1em;
                &:hover {
                  background-color: #f1f1f1;
                }
              }
              &:first-child {
                a {
                  color: #000000cc;
                  font-size: 18px;
                  font-family: "TTcommons-medium";

                  &:hover {
                    background-color: #f1f1f1;
                  }
                }
              }
              .HeaderLogin-btn {
                color: #30bf84;
                border-radius: 28px;
                border: none;

                font-size: 18px;
                background: #e0faf2;

                font-family: "TTcommons-medium";

                height: 48px;
                width: 140px;
                margin-bottom: 13px;
              }
              .OpnDemo-btn {
                background-color: rgba(58, 175, 114, 1);
                color: #ffffff;
                font-family: "TTcommons-medium";

                height: 48px;
                width: 140px;
                border-radius: 28px;
                border: none;
              }
            }
          }
          &.show {
            @include xsm {
              flex-wrap: wrap;
              max-height: 350px;
              overflow-y: scroll;
              width: 100%;
            }
            @include sm {
              flex-wrap: wrap;
              max-height: 350px;
              overflow-y: scroll;
              width: 100%;
            }
            @include md {
              flex-wrap: wrap;
              max-height: 350px;
              overflow-y: scroll;
              width: 100%;
            }
          }
          @include md {
            width: 40vw;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

// header end//////
///////////////////

///===========================
/////////Lnding page css start ////
/// ==========================
.landingPage-data {
  width: 100%;
  height: auto;

  .categoris-section {
    width: 100%;
    height: auto;
  }
}
// ////category card component///
.category-itemTop {
  padding: 0px 50px 30px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  @include lg {
  }
  @include xsm {
    padding: 0px;
    display: flex;
    gap: 11px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards-top {
    .Cimg-top {
      height: 200px;
      width: 185px;
      position: relative;
      @include lg {
      }
      @include xsm {
        height: 162px;
        width: 141px;
      }

      .banner-insideImge {
        width: 100%;
        height: 100%;
      }
      .banner-text {
        position: absolute;

        z-index: 99999;
        width: 100%;

        top: 14%;

        margin-bottom: 0px;
        .text-edit {
          padding: 0px 10px;
          text-align: center;
          font-family: Poppins-Medium;
          font-size: 16px;
          color: #000000;
        }
      }
    }
  }
}

.MobileBanners-top {
  height: auto;
  width: 100%;
  position: relative;
  .bannerImgg-top {
    height: 230px;
    width: 100%;
    @include md {
      height: 152px;
    }
    @include xsm {
      height: 150px;
    }
    .banner-insideImge {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }

  .banner-text {
    position: absolute;

    z-index: 99999;
    width: 100%;

    top: 9%;

    margin-bottom: 0px;
    .text-edit {
      margin-bottom: 0px;
      text-align: center;
      font-family: Poppins-Medium;
      font-size: 22px;
      color: #000000;
      @include md {
        font-size: 18px;
      }
    }
  }
}
.big-banner {
  height: auto;
  width: 100%;
  position: relative;
  .bannerImgg-top {
    height: 477px;
    @include md {
      height: 320px;
    }
    @include xsm {
      height: 200px;
    }
    .banner-insideImge {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
  .banner-text {
    position: absolute;

    z-index: 99999;
    width: 100%;

    top: 9%;

    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Poppins-Medium;
    font-size: 22px;
    color: #000000;
    @include md {
      font-size: 18px;
    }
  }
}

////////////////////////////////
/// text components section start
/// =============================

.text-title {
  font-size: 32px;
  font-family: Sf-Sb;
  text-align: center;
  padding: 20px;
}
.textSub-title {
  text-align: start;
  font-size: 28px;
  padding: 33px 0px 15px 0px;
  margin-bottom: 0px;
}
// ////////////////
///item card/////
/// =========//////
.item-card {
  width: 100%;
  height: auto;

  position: relative;
  .item-image {
    width: 100%;
  }
  .rating {
    font-size: 12px;
    font-weight: 700;
  }
  .company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
  }
  .price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
    .current-price {
      font-size: 14px;
      font-weight: 700;
      color: #282c3f;
    }
    .original-price {
      text-decoration: line-through;
      color: #7e818c;
      font-weight: 400;
      margin-left: 5px;
      font-size: 12px;
    }
    .discount {
      color: #ff905a;
      font-weight: 400;
      font-size: 12px;
      margin-left: 5px;
    }
  }
  .btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
  }
}

// /////////////////
// shop more card css
// //////////////////////
.ShopMore-cards {
  padding: 16px;
  background: #ebf9ff;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  @include xsm {
    justify-content: center;
  }

  .shopMore-top {
    width: 100%;
    height: 135px;
    @include xsm {
      width: 250px;
      height: 124px;
      margin: auto;
    }

    .CardBanner-insideImge {
      width: 100%;
      height: 100%;
    }
  }
}
.MegaDeals-cards {
  padding: 16px;
  background: #ebf9ff;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;

  .MegaDeals-top {
    position: relative;
    width: 100%;
    height: 135px;
    @include xsm {
      position: relative;
      width: 250px;
      height: 124px;
      margin: auto;
    }

    .card-topLeft-text {
      background-color: #508fa7;
      color: #000000;
      font-size: 12px;
      font-family: Sf-R;
      margin-bottom: 0px;
      border-top-left-radius: 3px;
      padding: 2px 4px;
      width: 137px;
    }
    .deals-topimage {
      width: 90%;
      height: 103px;
      padding-top: 10px;
      margin: auto;

      .deals-image {
        width: 100%;
        height: 100%;
      }
    }

    .card-right {
      padding: 8px 4px;
      .card-title {
        color: #000000;
        font-size: 12px;
        font-family: Sf-R;
        margin-bottom: 0px;
        height: 72px;
        overflow: clip;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        @include xsm {
          height: 60px;
        }
      }
      .card-text-price {
        font-size: 14px;
        color: #508fa7;
        font-family: Sf-M;
        margin-bottom: 0px;
      }
    }
  }
}

// ////////////////////////
// carousel component
////////////////////////////
.bottom-Banner {
  background-color: #ebf9ff;
  width: 100%;
  height: auto;
  padding: 13px 16px 16px 16px;
  position: relative;
  border-radius: 8px;
  .slider-topTitle {
    font-family: Sf-M;
    font-size: 22px;
    margin-bottom: 6px;
  }
  .banner-imageTop {
    height: 230px;
    width: auto;
    position: relative;
    @include xsm {
      height: 170px;
    }
    @include sm {
      height: 170px;
    }
    .banner-images {
      width: 100%;
      height: 100%;
      border-radius: 7px;
    }
  }
  .shop-btn {
    background-color: #02adc7;
    position: absolute;
    top: 64%;
    right: 17%;
    border: none;
    height: 45px;
    color: white;
    font-size: 16px;
    font-family: Sf-Sb;
    width: 140px;
    border-radius: 6px;
  }

  #customPrevButton {
    position: absolute;
    top: 20px; /* Adjust top spacing as needed */
    right: 41px;
    font-size: 17px;
    padding: 0px 5px !important; /* Adjust right spacing as needed */
    background-color: #02adc7; /* Add your button background color */
    color: #fff; /* Add your button text color */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  #customNextButton {
    position: absolute;
    font-size: 17px;
    padding: 0px 5px !important;
    top: 20px; /* Adjust top spacing as needed */
    right: 16px; /* Adjust right spacing as needed */
    background-color: #02adc7; /* Add your button background color */
    color: #fff; /* Add your button text color */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
  }
}
.top-Banner {
  width: 100%;
  height: auto;
  .banner-imageTop {
    height: 230px;
    width: auto;
    @include xsm {
      height: 170px;
    }
    @include sm {
      height: 170px;
    }
    .banner-images {
      width: 100%;
      height: 100%;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: white; /* Change to your desired color */
    &::after {
      font-size: 20px;
    }
  }

  /* Decrease navigation button size */
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 12px; /* Change to your desired font size */
  }
}
.Mdeal-BnrTop {
  .mdeal-image {
    width: 100%;
    height: auto;
  }
}
.Mdeal-BnrBtm {
  .mdeal-bottomImage {
    width: 100%;
    height: auto;
  }
}

// ///////////////////////
// product component css
/////////////////////////
.product-card {
  width: 100%;
  height: 360px;
  padding-bottom: 2px;
  @include md {
    height: 266px;
  }
  @include xsm {
    height: 266px;
  }
  .card-top {
    background: #efefef;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;

    .productImg-top {
      width: auto;
      height: 160px;
      @include md {
        height: 95px;
      }
      @include xsm {
        height: 95px;
      }

      .product-cardImage {
        width: 100%;
        height: 100%;
      }
    }
    .wishlist-icon {
      position: absolute;
      height: 25px;
      width: 25px;
      top: 10px;
      right: 8px;
    }
  }
  .product-body {
    padding: 8px 7px 7px;
    .item-title {
      color: #000000;
      font-size: 12px;
      font-family: Sf-R;
      margin-bottom: 0px;
      height: 52px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Number of lines to show */
      -webkit-box-orient: vertical;

      @include md {
        font-size: 11px;
      }
      @include xsm {
        height: 49px;
        font-size: 11px;
      }
    }
    .item-review {
      .starss {
        font-size: 22px;
        @include md {
          font-size: 18px;
        }
      }
      .custemer-rivew {
        font-family: Sf-R;
        color: #508fa7;
        font-size: 13px;
        @include md {
          font-size: 11px;
        }
      }
    }
    .item-price {
      color: #508fa7;
      font-size: 18px;
      font-family: Sf-M;
      margin-bottom: 7px;
      @include md {
        font-size: 11px;
      }
      @include xsm {
        font-size: 12px;
      }
    }
    .add-cart {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #02adc7;
      width: 100%;
      color: #fff;
      font-size: 12px;
      height: 40px;
      font-family: Sf-R;
      @include md {
        font-size: 11px;
        height: 30px;
      }
      @include xsm {
        font-size: 11px;
        height: 30px;
      }
      .bag-icon {
        height: 16px;
        width: auto;
        margin-right: 5px;
        @include md {
          height: 14px;
        }
        @include xsm {
          height: 14px;
        }
      }
    }
  }
}
.about-item{
  margin-top: 30px;
  .about-item-image{
    height: 300px;
    width: 100%;
      .top-image-item{
        width: 100%;
    height: 100%;
    border-radius: 10px;
          
      }
  }
  .about-ietm-carosual{
    padding-top: 30px;
  
    .imageSlide-top{
      height: 100px;
      width: 100%;
      
      .imagesBottm{
        width: 100%;
      height: 100%;

      }

    }
    .swiper-button-next, .swiper-button-prev {
      font-family: 'YourFont', sans-serif; /* Change 'YourFont' to the desired font family */
      font-size: 16px; /* Change the font size as needed */
      color: #000; /* Change the font color as needed */
      &::after{
        font-size: 18px;
      }
    }
    
  }
  .about-details{
    padding: 0px 30px;
      .item-para{
       
          font-size: 21px;
          color: #272727;
          font-family:"SF-M";
          @include xsm{
              
              font-size: 16px;
          }
          @include sm{
             
              font-size: 16px;
          }
          @include md{
             
              font-size: 18px;
            }
            @include lg{
            
              font-size: 21px;
            }
      }
      .cost-details{
          display: flex;
          align-items: center;
          .cost-offer{
              color: #D10808;
              font-size: 21px;
              font-family:"SF-Pro-Display-Medium";
              @include xsm{
              
                font-size: 16px;
            }
            @include sm{
               
                font-size: 16px;
            }
            @include md{
               
                font-size: 18px;
              }
              @include lg{
              
                font-size: 21px;
              }
              .cost-confrim{
                color: #508FA7 !important;
                padding-left: 20px;

              }
          }
         
      }
      .inclusiveline{
          color: #272727;
          font-size: 18px;
          font-family: "SF-Pro-Display-Regular";
          @include xsm{
              font-size: 15px;
          }
          @include sm{
              font-size: 16px;
          }
          @include md{
              font-size: 16px;
          }
          @include lg{
              font-size: 16px;
          }
      }
      .quantity-details{
          padding-bottom:20px;
          .quantity-para{
              color: #272727;
              font-size: 18px;
              font-family: "SF-Pro-Display-Regular";
              @include xsm{
                  font-size: 15px;
              }
              @include sm{
                  font-size: 16px;
              }
              @include md{
                  font-size: 16px;
              }
              @include lg{
                  font-size: 16px;
              }
          }
          .quantity-increase{
              width: 100px;
              border: 2px solid #606060;
              padding: 5px;
              align-items: center;
              display: flex;
              .quantity-plus{
                  color: #606060;
              }
          }
      }
      .add-to-cart-buttons{
          padding-bottom: 20px;
          @include xsm{
              display: flex;
              justify-content: space-between;
          }
          @include sm{
              display: flex;
              justify-content: space-between;
          }
          @include md{
              display: flex;
              justify-content: space-between;
          }
          @include lg{
              display: flex;
              justify-content: space-between;
          }
          .addcartbutton{
              width: 300px;
              height: 45px;
              color: #000000;
              font-size: 18px;
              border: 2px solid #000000;
              border-radius: 30px;
              background: #FFFFFF;
              font-family:"SF-Pro-Display-Medium";
              @include xsm{
                  width: 100%;
                  font-size: 15px;
                  height: 35px;
              }
              @include sm{
                  width: 100%;
                  font-size: 18px;
                  height: 35px;
              }
              @include lg{
                  width: 100%;
                  font-size: 18px;
              }
          }
          .buyitnowbutton{
              width: 300px;
              height: 45px;
              color: #FFFFFF;
              font-size: 18px;
              border-radius: 5px;
              background: #02ADC7;
              font-family:"SF-Pro-Display-Medium";
              margin-left: 20px;
              @include xsm{
                  width: 100%;
                  font-size: 15px;
                  height: 35px;
              }
              @include sm{
                  width: 100%;
                  font-size: 16px;
                  height: 35px;
              }
              @include lg{
                  width: 100%;
                  font-size: 18px;
              }
          }
      }
      .globalpointline{
          .globalpurchase{
              color: #272727;
              font-size: 18px;
              font-family: "SF-Pro-Display-Regular"; 
              @include xsm{
                  font-size: 15px;
              } 
              @include sm{
                  font-size: 16px;
              }
              @include md{
                  font-size: 16px;
              }
              @include lg{
                  font-size: 16px;
              }
          }
      }
      .rating-stars{
          .write-review{
              color: #508FA7;
              font-size: 24px;
              font-family:"SF-Pro-Display-Medium";
              @include xsm{
                  font-size: 20px;
              }
              @include sm{
                  font-size: 22px;
              }
              @include md{
                  font-size: 22px;
              }
              @include lg{
                  font-size: 26px;
              }
          }
      }
      .costumer-review{
          font-size: 28px;
          color: #272727;
          font-family:"SF-Pro-Display-Medium";
          @include xsm{
              font-size: 20px;
          }
          @include sm{
              font-size: 24px;
          }
          @include md{
              font-size: 25px;
          }
          @include lg{
              font-size: 26px;
          }
      }
  }
}

// /////////////////////////
// footer component css
// ======================///
.global-aims-footer {
  width: 100%;
  height: auto;
  background: #fff;
  padding-top: 20px;
  .globalaim {
    margin-top: 60px;

    @include xsm {
      margin-top: 10px;
      padding-left: 10px;
    }
    .globalaimpara {
      color: #272727;
      font-size: 15px;
      font-family: Sf-R;
      @include xsm {
        font-size: 13px;
      }
      @include sm {
        font-size: 12px;
      }
      @include md {
        font-size: 11px;
      }
    }
    .supportemail {
      display: flex;
      align-items: center;
      .supportemailicon {
        color: #508fa7;
      }
      .gm-email {
        color: #272727;
        font-size: 13px;
        font-family: Sf-R;
        padding-top: 14px;
        padding-left: 10px;
        @include xsm {
          font-size: 9px;
          padding-top: 14px;
        }
        @include sm {
          font-size: 11px;
        }
        @include md {
          font-size: 10px;
        }
        .gm-number {
          margin-top: -10px;
        }
      }
    }
  }
  .categories {
    padding-left: 20px;
    @include sm {
      padding-left: 20px;
    }
    @include md {
      padding-left: 40px;
    }
    .categoriesheader {
      color: #000000;
      font-size: 22px;
      font-family: Sf-M;
      @include xsm {
        font-size: 12px;
        padding-top: 15px;
      }
      @include sm {
        font-size: 15px;
      }
      @include md {
        font-size: 15px;
      }
    }
    .categoriesitems {
      padding-top: 5px;
      @include xsm {
        padding-top: 0px;
      }
      @include sm {
        padding-top: 0px;
      }
      @include md {
        padding-top: 0px;
      }
      .categoriesmaterials {
        color: #272727;
        font-size: 15px;
        font-family: Sf-R;
        text-decoration: none;
        @include xsm {
          font-size: 12px;
        }
        @include sm {
          font-size: 12px;
        }
        @include md {
          font-size: 12px;
        }
      }
    }
    .categoriesicons {
      margin-top: 20px;
      .categoriesmaterialsicons {
        color: #02adc7;
        width: 30px;
        height: 30px;
        border: 2px solid #02adc7;
        border-radius: 8px;
        padding: 6px;
        @include xsm {
          width: 22px;
          height: 22px;
          padding: 2px;
          border-radius: 2px;
        }
        @include md {
          width: 22px;
          height: 22px;
          padding: 2px;
          border-radius: 3px;
        }
      }
    }
    .categoriesimage {
      .categorieimg {
        align-items: center;
        display: flex;
        padding-top: 20px;
        .categoriespenicon {
          color: #02adc7;
          width: 30px;
          height: 30px;
          border: 2px solid #02adc7;
          border-radius: 8px;
          padding: 6px;
          @include xsm {
            width: 22px;
            height: 22px;
            padding: 4px;
            border-radius: 2px;
          }
          @include md {
            width: 22px;
            height: 22px;
            padding: 2px;
            border-radius: 3px;
          }
        }
        .categories-google-review {
          color: #02adc7;
          font-size: 15px;
          font-family: Sf-R;
          padding-left: 10px;
          @include xsm {
            font-size: 13px;
          }
          @include md {
            font-size: 15px;
          }
        }
      }
    }
    .visa {
      margin-top: 120px;
      @include xsm {
        margin-top: 50px;
      }
      @include sm {
        margin-top: 40px;
      }
      @include md {
        margin-top: 80px;
      }
      .visa-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include xsm {
          width: 25px;
          height: 30px;
        }
        @include md {
          width: 37px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
  .footeraim {
    .footerglobal {
      color: #272727;
      font-size: 13px;
      font-family: Sf-R;
      padding-top: 14px;
      padding-left: 10px;
      text-align: center;
      @include xsm {
        font-size: 10px;
      }
      @include sm {
        font-size: 12px;
      }
    }
  }
}
