@font-face {
  font-family: robson-semibold;
  src: url("./../fonts/robson/Fontspring-DEMO-robson-semibold.otf");
}
@font-face {
  font-family: Poppins-Regular;
  src: url("./../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("./../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("./../fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("./../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: Sf-R;
  src: url("./../fonts/sf-ui/FontsFree-Net-SF-UI-Display-Regular-1.ttf");
}
@font-face {
  font-family: Sf-Sb;
  src: url("./../fonts/sf-ui/sf-ui-display-semibold-58646eddcae92.woff");
}
@font-face {
  font-family: Sf-M;
  src: url("./../fonts/sf-ui/sf-ui-display-medium-58646be638f96.woff");
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8f3f0;
}

/*for fixed header*/
.header {
  min-height: 70px;
  background-color: white;
}
.header .nvbar-edit {
  min-height: 55px;
  background-color: white;
  padding: 0px 40px;
}
.header .nvbar-edit .logo-edit {
  font-size: 25px;
}
.header .nvbar-edit .navIcons-top {
  flex-direction: row;
  gap: 25px;
}
.header .nvbar-edit .navIcons-top .nav-item .menubar-items {
  font-family: Sf-R;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.header .nvbar-edit .navIcons-top .nav-item .menubar-items .icooons {
  height: 16px;
  margin-right: 5px;
}
.header .nvbar-edit .hamburger-edit {
  display: none;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .nvbar-edit .hamburger-edit {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .nvbar-edit .hamburger-edit {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .header .nvbar-edit .hamburger-edit {
    display: block;
  }
}
.header .nvbar-edit .hamburger-edit.active .bar {
  background-color: black;
}
.header .nvbar-edit .hamburger-edit.active .bar:nth-child(2) {
  opacity: 0;
}
.header .nvbar-edit .hamburger-edit.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header .nvbar-edit .hamburger-edit.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.header .nvbar-edit .hamburger-edit .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0px;
  transition: all 0.4s ease;
  background-color: black;
}
.header .nvbar-edit .nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .nvbar-edit .nav-menu {
    width: 80%;
    display: block;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.6s;
  }
  .header .nvbar-edit .nav-menu.active {
    left: 0;
    top: 70px;
    background-color: yellow;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .nvbar-edit .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.6s;
    display: block;
    width: 80%;
  }
  .header .nvbar-edit .nav-menu.active {
    left: 0;
    top: 70px;
    background-color: white;
  }
}
@media (max-width: 575.98px) {
  .header .nvbar-edit .nav-menu {
    width: 80%;
    display: block;
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 0.6s;
  }
  .header .nvbar-edit .nav-menu.active {
    left: 0;
    top: 0px;
    background-color: white;
  }
}
.header .nvbar-edit .nav-menu .navUl-edit {
  margin-left: auto;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .nvbar-edit .nav-menu .navUl-edit {
    text-align: start;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .nvbar-edit .nav-menu .navUl-edit {
    text-align: start;
  }
}
@media (max-width: 575.98px) {
  .header .nvbar-edit .nav-menu .navUl-edit {
    text-align: start;
  }
}
.header .nvbar-edit .nav-menu .navUl-edit .search-boxTop {
  position: relative;
}
.header .nvbar-edit .nav-menu .navUl-edit .search-boxTop .search-inpBox {
  padding-left: 35px;
  height: 37px;
  width: 600px;
  font-size: 15px;
  background: #f8f8f8;
  font-family: Sf-R;
}
.header .nvbar-edit .nav-menu .navUl-edit .search-boxTop .search-icon {
  position: absolute;
  top: 30%;
  left: 12px;
  height: 15px;
}
.header .nvbar-edit .nav-menu .navbar-nav .nav-item .language-select {
  font-family: Sf-R;
  font-size: 13px;
  border: none;
  background: transparent !important;
  color: #000000;
  display: flex;
  align-items: center;
}
.header .nvbar-edit .nav-menu .navbar-nav .nav-item .language-select .icooons {
  height: 16px;
  margin-right: 5px;
}
.header .nvbar-edit .nav-menu .navbar-nav .nav-item .menubar-items {
  font-family: Sf-R;
  font-size: 13px;
  color: #000000;
  display: flex;
  align-items: center;
}
.header .nvbar-edit .nav-menu .navbar-nav .nav-item .menubar-items .icooons {
  height: 16px;
  margin-right: 5px;
}
.header .bottom-nav {
  width: 100%;
  height: auto;
  background-color: white;
  height: 50px;
  border-bottom: 0.1px solid #ccc9c9;
}
@media (max-width: 575.98px) {
  .header .bottom-nav {
    display: block;
    height: 100vh;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .bottom-nav {
    display: block;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav {
    display: block;
    height: auto;
  }
}
.header .bottom-nav .categories-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  height: 50px;
  position: relative;
  margin: 0px 40px;
}
@media (max-width: 575.98px) {
  .header .bottom-nav .categories-top {
    display: block;
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .bottom-nav .categories-top {
    display: block;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav .categories-top {
    display: block;
    height: auto;
  }
}
.header .bottom-nav .categories-top .product-categoriesLIst {
  font-size: 15px;
}
@media (max-width: 575.98px) {
  .header .bottom-nav .categories-top .product-categoriesLIst {
    padding: 10px;
    border-bottom: 0.1px solid #ccc9c9;
    font-size: 15px;
  }
}
.header .bottom-nav .categories-top .product-categoriesLIst.Menu-top {
  text-align: center;
}
.header .bottom-nav .categories-top .edit-NVItems {
  position: unset;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header .bottom-nav .categories-top .edit-NVItems:hover .Drop-Menu {
    display: flex;
  }
  .header .bottom-nav .categories-top .edit-NVItems:hover .Drop-Menu.show {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header .bottom-nav .categories-top .edit-NVItems:hover .Drop-Menu {
    display: flex;
  }
  .header .bottom-nav .categories-top .edit-NVItems:hover .Drop-Menu.show {
    display: flex;
  }
}
.header .bottom-nav .categories-top .edit-NVItems .edit-home {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 18px;
  font-family: "TTcommons-regular";
  padding: 0px;
}
.header .bottom-nav .categories-top .edit-NVItems .edit-home::after {
  display: none;
}
.header .bottom-nav .categories-top .edit-NVItems .edit-home:active {
  pointer-events: none;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .edit-home:active {
    pointer-events: auto;
  }
}
@media (max-width: 575.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .edit-home:active {
    pointer-events: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .edit-home:active {
    pointer-events: all;
  }
}
.header .bottom-nav .categories-top .edit-NVItems .edit-home .down-arrow {
  height: 15px;
  margin-left: 4px;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu {
  border: none;
  border-radius: 0;
  padding: 0.7em;
  position: absolute;
  left: 0px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0.5px solid grey;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data {
  list-style: none;
  padding: 0;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists .Box-items {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists .Box-items:hover {
  background-color: #f1f1f1;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists:first-child a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-family: "TTcommons-medium";
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists:first-child a:hover {
  background-color: #f1f1f1;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists .HeaderLogin-btn {
  color: #30bf84;
  border-radius: 28px;
  border: none;
  font-size: 18px;
  background: #e0faf2;
  font-family: "TTcommons-medium";
  height: 48px;
  width: 140px;
  margin-bottom: 13px;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists .OpnDemo-btn {
  background-color: rgb(58, 175, 114);
  color: #ffffff;
  font-family: "TTcommons-medium";
  height: 48px;
  width: 140px;
  border-radius: 28px;
  border: none;
}
@media (max-width: 575.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .Drop-Menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .Drop-Menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .Drop-Menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .Drop-Menu {
    width: 40vw;
    flex-wrap: wrap;
  }
}

.landingPage-data {
  width: 100%;
  height: auto;
}
.landingPage-data .categoris-section {
  width: 100%;
  height: auto;
}
.landingPage-data .categoris-section .category-itemTop {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-top .Cimg-top {
  height: 220px;
  width: 200px;
  position: relative;
}
.cards-top .Cimg-top .banner-insideImge {
  width: 100%;
  height: 100%;
}
.cards-top .Cimg-top .banner-text {
  position: absolute;
  top: 10px;
  z-index: 99999;
  width: 100%;
  top: 19%;
  color: red;
  margin-bottom: 0px;
}
.cards-top .Cimg-top .banner-text .text-edit {
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #000000;
}

.Cimg-top {
  height: auto;
  width: 100%;
  position: relative;
}
.Cimg-top .banner-insideImge {
  width: 100%;
  height: 100%;
}
.Cimg-top .banner-text {
  position: absolute;
  top: 10px;
  z-index: 99999;
  width: 100%;
  top: 19%;
  margin-bottom: 0px;
}
.Cimg-top .banner-text .text-edit {
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #000000;
}

.text-title {
  font-size: 32px;
  font-family: Sf-Sb;
  text-align: center;
  padding: 20px;
}

.textSub-title {
  text-align: start;
  font-size: 28px;
  padding: 33px 0px 15px 0px;
  margin-bottom: 0px;
}

.item-card {
  width: 100%;
  height: auto;
  position: relative;
}
.item-card .item-image {
  width: 100%;
}
.item-card .rating {
  font-size: 12px;
  font-weight: 700;
}
.item-card .company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-card .item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.item-card .price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.item-card .price .current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.item-card .price .original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.item-card .price .discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.item-card .btn-add-bag {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.ShopMore-cards {
  padding: 16px;
  background: #ebf9ff;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
@media (max-width: 575.98px) {
  .ShopMore-cards {
    justify-content: center;
  }
}
.ShopMore-cards .shopMore-top {
  width: 100%;
  height: 135px;
}
.ShopMore-cards .shopMore-top .CardBanner-insideImge {
  width: 100%;
  height: 100%;
}

.MegaDeals-cards {
  padding: 16px;
  background: #ebf9ff;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.MegaDeals-cards .MegaDeals-top {
  position: relative;
  width: 100%;
  height: 135px;
}
.MegaDeals-cards .MegaDeals-top .card-topLeft-text {
  background-color: #508fa7;
  color: #000000;
  font-size: 12px;
  font-family: Sf-R;
  margin-bottom: 0px;
  border-top-left-radius: 3px;
  padding: 2px 4px;
  width: 120px;
}
.MegaDeals-cards .MegaDeals-top .deals-image {
  padding: 8px 4px;
  width: 100%;
  height: auto;
}
.MegaDeals-cards .MegaDeals-top .card-right {
  padding: 8px 4px;
}
.MegaDeals-cards .MegaDeals-top .card-right .card-title {
  color: #000000;
  font-size: 12px;
  font-family: Sf-R;
  margin-bottom: 0px;
  height: 75px;
}
.MegaDeals-cards .MegaDeals-top .card-right .card-text-price {
  font-size: 14px;
  color: #508fa7;
  font-family: Sf-M;
  margin-bottom: 0px;
}

.bottom-Banner {
  background-color: #ebf9ff;
  width: 100%;
  height: auto;
  padding: 13px 16px 16px 16px;
  position: relative;
  border-radius: 8px;
}
.bottom-Banner .slider-topTitle {
  font-family: Sf-M;
  font-size: 22px;
  margin-bottom: 6px;
}
.bottom-Banner .banner-imageTop {
  height: 230px;
  width: auto;
  position: relative;
}
@media (max-width: 575.98px) {
  .bottom-Banner .banner-imageTop {
    height: 170px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .bottom-Banner .banner-imageTop {
    height: 170px;
  }
}
.bottom-Banner .banner-imageTop .banner-images {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.bottom-Banner .shop-btn {
  background-color: #02adc7;
  position: absolute;
  top: 64%;
  right: 17%;
  border: none;
  height: 45px;
  color: white;
  font-size: 16px;
  font-family: Sf-Sb;
  width: 140px;
  border-radius: 6px;
}
.bottom-Banner #customPrevButton {
  position: absolute;
  top: 20px; /* Adjust top spacing as needed */
  right: 41px;
  font-size: 17px;
  padding: 0px 5px !important; /* Adjust right spacing as needed */
  background-color: #02adc7; /* Add your button background color */
  color: #fff; /* Add your button text color */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}
.bottom-Banner #customNextButton {
  position: absolute;
  font-size: 17px;
  padding: 0px 5px !important;
  top: 20px; /* Adjust top spacing as needed */
  right: 16px; /* Adjust right spacing as needed */
  background-color: #02adc7; /* Add your button background color */
  color: #fff; /* Add your button text color */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.top-Banner {
  width: 100%;
  height: auto;
  /* Decrease navigation button size */
}
.top-Banner .banner-imageTop {
  height: 230px;
  width: auto;
}
@media (max-width: 575.98px) {
  .top-Banner .banner-imageTop {
    height: 170px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .top-Banner .banner-imageTop {
    height: 170px;
  }
}
.top-Banner .banner-imageTop .banner-images {
  width: 100%;
  height: 100%;
}
.top-Banner .swiper-button-next,
.top-Banner .swiper-button-prev {
  color: white; /* Change to your desired color */
}
.top-Banner .swiper-button-next::after,
.top-Banner .swiper-button-prev::after {
  font-size: 20px;
}
.top-Banner .swiper-button-next,
.top-Banner .swiper-button-prev {
  font-size: 12px; /* Change to your desired font size */
}

.product-card {
  width: 100%;
  height: auto;
}
.product-card .card-top {
  background: #efefef;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.product-card .card-top .productImg-top {
  width: auto;
  height: 160px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .card-top .productImg-top {
    height: 95px;
  }
}
.product-card .card-top .productImg-top .product-cardImage {
  width: 100%;
  height: 100%;
}
.product-card .card-top .wishlist-icon {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 8px;
}
.product-card .product-body {
  padding: 8px 7px 7px;
}
.product-card .product-body .item-title {
  color: #000000;
  font-size: 12px;
  font-family: Sf-R;
  margin-bottom: 0px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .item-title {
    font-size: 11px;
  }
}
.product-card .product-body .item-review .starss {
  font-size: 22px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .item-review .starss {
    font-size: 18px;
  }
}
.product-card .product-body .item-review .custemer-rivew {
  font-family: Sf-R;
  color: #508fa7;
  font-size: 13px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .item-review .custemer-rivew {
    font-size: 11px;
  }
}
.product-card .product-body .item-price {
  color: #508fa7;
  font-size: 18px;
  font-family: Sf-M;
  margin-bottom: 7px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .item-price {
    font-size: 11px;
  }
}
.product-card .product-body .add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #02adc7;
  width: 100%;
  color: #fff;
  font-size: 12px;
  height: 40px;
  font-family: Sf-R;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .add-cart {
    font-size: 11px;
    height: 30px;
  }
}
.product-card .product-body .add-cart .bag-icon {
  height: 16px;
  width: auto;
  margin-right: 5px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .add-cart .bag-icon {
    height: 14px;
  }
}/*# sourceMappingURL=style.css.map */