@font-face {
  font-family: robson-semibold;
  src: url("./../fonts/robson/Fontspring-DEMO-robson-semibold.otf");
}
@font-face {
  font-family: Poppins-Regular;
  src: url("./../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("./../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("./../fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("./../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: Sf-R;
  src: url("./../fonts/sf-ui/FontsFree-Net-SF-UI-Display-Regular-1.ttf");
}
@font-face {
  font-family: Sf-Sb;
  src: url("./../fonts/sf-ui/sf-ui-display-semibold-58646eddcae92.woff");
}
@font-face {
  font-family: Sf-M;
  src: url("./../fonts/sf-ui/sf-ui-display-medium-58646be638f96.woff");
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8f3f0;
}

/*for fixed header*/
.header {
  min-height: 60px;
  background-color: white;
}
.header .nvbar-edit {
  min-height: 60px;
  background-color: white;
  padding: 0px 40px;
}
.header .nvbar-edit .logo-edit {
  font-size: 25px;
}
.header .nvbar-edit .navIcons-top {
  flex-direction: row;
  gap: 25px;
}
.header .nvbar-edit .navIcons-top .nav-item .menubar-items {
  font-family: Sf-R;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.header .nvbar-edit .navIcons-top .nav-item .menubar-items .icooons {
  height: 16px;
  margin-right: 5px;
}
.header .nvbar-edit .hamburger-edit {
  display: none;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .nvbar-edit .hamburger-edit {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .nvbar-edit .hamburger-edit {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .header .nvbar-edit .hamburger-edit {
    display: block;
  }
}
.header .nvbar-edit .hamburger-edit.active .bar {
  background-color: black;
}
.header .nvbar-edit .hamburger-edit.active .bar:nth-child(2) {
  opacity: 0;
}
.header .nvbar-edit .hamburger-edit.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header .nvbar-edit .hamburger-edit.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.header .nvbar-edit .hamburger-edit .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0px;
  transition: all 0.4s ease;
  background-color: black;
}
.header .nvbar-edit .nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .nvbar-edit .nav-menu {
    width: 80%;
    display: block;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.6s;
  }
  .header .nvbar-edit .nav-menu.active {
    left: 0;
    top: 70px;
    background-color: yellow;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .nvbar-edit .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.6s;
    display: block;
    width: 80%;
  }
  .header .nvbar-edit .nav-menu.active {
    left: 0;
    top: 70px;
    background-color: white;
  }
}
@media (max-width: 575.98px) {
  .header .nvbar-edit .nav-menu {
    width: 80%;
    display: block;
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 0.6s;
  }
  .header .nvbar-edit .nav-menu.active {
    left: 0;
    top: 0px;
    background-color: white;
  }
}
.header .nvbar-edit .nav-menu .navUl-edit {
  margin-left: auto;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .nvbar-edit .nav-menu .navUl-edit {
    text-align: start;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .nvbar-edit .nav-menu .navUl-edit {
    text-align: start;
  }
}
@media (max-width: 575.98px) {
  .header .nvbar-edit .nav-menu .navUl-edit {
    text-align: start;
  }
}
.header .nvbar-edit .nav-menu .navUl-edit .search-boxTop {
  position: relative;
}
.header .nvbar-edit .nav-menu .navUl-edit .search-boxTop .search-inpBox {
  padding-left: 35px;
  height: 37px;
  width: 600px;
  font-size: 15px;
  background: #f8f8f8;
  font-family: Sf-R;
}
.header .nvbar-edit .nav-menu .navUl-edit .search-boxTop .search-icon {
  position: absolute;
  top: 30%;
  left: 12px;
  height: 15px;
}
.header .nvbar-edit .nav-menu .navbar-nav .nav-item .language-select {
  font-family: Sf-R;
  font-size: 13px;
  border: none;
  background: transparent !important;
  color: #000000;
  display: flex;
  align-items: center;
}
.header .nvbar-edit .nav-menu .navbar-nav .nav-item .language-select .icooons {
  height: 16px;
  margin-right: 5px;
}
.header .nvbar-edit .nav-menu .navbar-nav .nav-item .menubar-items {
  font-family: Sf-R;
  font-size: 13px;
  color: #000000;
  display: flex;
  align-items: center;
}
.header .nvbar-edit .nav-menu .navbar-nav .nav-item .menubar-items .icooons {
  height: 16px;
  margin-right: 5px;
}
.header .bottom-nav {
  width: 100%;
  height: auto;
  background-color: white;
  height: 50px;
  border-bottom: 0.1px solid #ccc9c9;
}
@media (max-width: 575.98px) {
  .header .bottom-nav {
    display: block;
    height: 100vh;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .bottom-nav {
    display: block;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav {
    display: block;
    height: auto;
  }
}
.header .bottom-nav .categories-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  height: 50px;
  position: relative;
  margin: 0px 40px;
}
@media (max-width: 575.98px) {
  .header .bottom-nav .categories-top {
    display: block;
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .bottom-nav .categories-top {
    display: block;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav .categories-top {
    display: block;
    height: auto;
  }
}
.header .bottom-nav .categories-top .product-categoriesLIst {
  font-size: 15px;
}
@media (max-width: 575.98px) {
  .header .bottom-nav .categories-top .product-categoriesLIst {
    padding: 10px;
    border-bottom: 0.1px solid #ccc9c9;
    font-size: 15px;
  }
}
.header .bottom-nav .categories-top .product-categoriesLIst.Menu-top {
  text-align: center;
}
.header .bottom-nav .categories-top .edit-NVItems {
  position: unset;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header .bottom-nav .categories-top .edit-NVItems:hover .Drop-Menu {
    display: flex;
  }
  .header .bottom-nav .categories-top .edit-NVItems:hover .Drop-Menu.show {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header .bottom-nav .categories-top .edit-NVItems:hover .Drop-Menu {
    display: flex;
  }
  .header .bottom-nav .categories-top .edit-NVItems:hover .Drop-Menu.show {
    display: flex;
  }
}
.header .bottom-nav .categories-top .edit-NVItems .edit-home {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 18px;
  font-family: "TTcommons-regular";
  padding: 0px;
}
.header .bottom-nav .categories-top .edit-NVItems .edit-home::after {
  display: none;
}
.header .bottom-nav .categories-top .edit-NVItems .edit-home:active {
  pointer-events: none;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .edit-home:active {
    pointer-events: auto;
  }
}
@media (max-width: 575.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .edit-home:active {
    pointer-events: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .edit-home:active {
    pointer-events: all;
  }
}
.header .bottom-nav .categories-top .edit-NVItems .edit-home .down-arrow {
  height: 15px;
  margin-left: 4px;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu {
  border: none;
  border-radius: 0;
  padding: 0.7em;
  position: absolute;
  left: 0px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0.5px solid grey;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data {
  list-style: none;
  padding: 0;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists .Box-items {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists .Box-items:hover {
  background-color: #f1f1f1;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists:first-child a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-family: "TTcommons-medium";
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists:first-child a:hover {
  background-color: #f1f1f1;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists .HeaderLogin-btn {
  color: #30bf84;
  border-radius: 28px;
  border: none;
  font-size: 18px;
  background: #e0faf2;
  font-family: "TTcommons-medium";
  height: 48px;
  width: 140px;
  margin-bottom: 13px;
}
.header .bottom-nav .categories-top .edit-NVItems .Drop-Menu .dropBox-Data .edit-lists .OpnDemo-btn {
  background-color: rgb(58, 175, 114);
  color: #ffffff;
  font-family: "TTcommons-medium";
  height: 48px;
  width: 140px;
  border-radius: 28px;
  border: none;
}
@media (max-width: 575.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .Drop-Menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .Drop-Menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .Drop-Menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .bottom-nav .categories-top .edit-NVItems .Drop-Menu {
    width: 40vw;
    flex-wrap: wrap;
  }
}

.landingPage-data {
  width: 100%;
  height: auto;
}
.landingPage-data .categoris-section {
  width: 100%;
  height: auto;
}

.category-itemTop {
  padding: 0px 50px 30px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  .category-itemTop {
    padding: 0px;
    display: flex;
    gap: 11px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.category-itemTop .cards-top .Cimg-top {
  height: 200px;
  width: 185px;
  position: relative;
}
@media (max-width: 575.98px) {
  .category-itemTop .cards-top .Cimg-top {
    height: 162px;
    width: 141px;
  }
}
.category-itemTop .cards-top .Cimg-top .banner-insideImge {
  width: 100%;
  height: 100%;
}
.category-itemTop .cards-top .Cimg-top .banner-text {
  position: absolute;
  z-index: 99999;
  width: 100%;
  top: 14%;
  margin-bottom: 0px;
}
.category-itemTop .cards-top .Cimg-top .banner-text .text-edit {
  padding: 0px 10px;
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #000000;
}

.MobileBanners-top {
  height: auto;
  width: 100%;
  position: relative;
}
.MobileBanners-top .bannerImgg-top {
  height: 230px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .MobileBanners-top .bannerImgg-top {
    height: 152px;
  }
}
@media (max-width: 575.98px) {
  .MobileBanners-top .bannerImgg-top {
    height: 150px;
  }
}
.MobileBanners-top .bannerImgg-top .banner-insideImge {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.MobileBanners-top .banner-text {
  position: absolute;
  z-index: 99999;
  width: 100%;
  top: 9%;
  margin-bottom: 0px;
}
.MobileBanners-top .banner-text .text-edit {
  margin-bottom: 0px;
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 22px;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .MobileBanners-top .banner-text .text-edit {
    font-size: 18px;
  }
}

.big-banner {
  height: auto;
  width: 100%;
  position: relative;
}
.big-banner .bannerImgg-top {
  height: 477px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .big-banner .bannerImgg-top {
    height: 320px;
  }
}
@media (max-width: 575.98px) {
  .big-banner .bannerImgg-top {
    height: 200px;
  }
}
.big-banner .bannerImgg-top .banner-insideImge {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.big-banner .banner-text {
  position: absolute;
  z-index: 99999;
  width: 100%;
  top: 9%;
  margin-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 22px;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .big-banner .banner-text {
    font-size: 18px;
  }
}

.text-title {
  font-size: 32px;
  font-family: Sf-Sb;
  text-align: center;
  padding: 20px;
}

.textSub-title {
  text-align: start;
  font-size: 28px;
  padding: 33px 0px 15px 0px;
  margin-bottom: 0px;
}

.item-card {
  width: 100%;
  height: auto;
  position: relative;
}
.item-card .item-image {
  width: 100%;
}
.item-card .rating {
  font-size: 12px;
  font-weight: 700;
}
.item-card .company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-card .item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.item-card .price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.item-card .price .current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.item-card .price .original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.item-card .price .discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.item-card .btn-add-bag {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.ShopMore-cards {
  padding: 16px;
  background: #ebf9ff;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
@media (max-width: 575.98px) {
  .ShopMore-cards {
    justify-content: center;
  }
}
.ShopMore-cards .shopMore-top {
  width: 100%;
  height: 135px;
}
@media (max-width: 575.98px) {
  .ShopMore-cards .shopMore-top {
    width: 250px;
    height: 124px;
    margin: auto;
  }
}
.ShopMore-cards .shopMore-top .CardBanner-insideImge {
  width: 100%;
  height: 100%;
}

.MegaDeals-cards {
  padding: 16px;
  background: #ebf9ff;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.MegaDeals-cards .MegaDeals-top {
  position: relative;
  width: 100%;
  height: 135px;
}
@media (max-width: 575.98px) {
  .MegaDeals-cards .MegaDeals-top {
    position: relative;
    width: 250px;
    height: 124px;
    margin: auto;
  }
}
.MegaDeals-cards .MegaDeals-top .card-topLeft-text {
  background-color: #508fa7;
  color: #000000;
  font-size: 12px;
  font-family: Sf-R;
  margin-bottom: 0px;
  border-top-left-radius: 3px;
  padding: 2px 4px;
  width: 137px;
}
.MegaDeals-cards .MegaDeals-top .deals-topimage {
  width: 90%;
  height: 103px;
  padding-top: 10px;
  margin: auto;
}
.MegaDeals-cards .MegaDeals-top .deals-topimage .deals-image {
  width: 100%;
  height: 100%;
}
.MegaDeals-cards .MegaDeals-top .card-right {
  padding: 8px 4px;
}
.MegaDeals-cards .MegaDeals-top .card-right .card-title {
  color: #000000;
  font-size: 12px;
  font-family: Sf-R;
  margin-bottom: 0px;
  height: 72px;
  overflow: clip;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (max-width: 575.98px) {
  .MegaDeals-cards .MegaDeals-top .card-right .card-title {
    height: 60px;
  }
}
.MegaDeals-cards .MegaDeals-top .card-right .card-text-price {
  font-size: 14px;
  color: #508fa7;
  font-family: Sf-M;
  margin-bottom: 0px;
}

.bottom-Banner {
  background-color: #ebf9ff;
  width: 100%;
  height: auto;
  padding: 13px 16px 16px 16px;
  position: relative;
  border-radius: 8px;
}
.bottom-Banner .slider-topTitle {
  font-family: Sf-M;
  font-size: 22px;
  margin-bottom: 6px;
}
.bottom-Banner .banner-imageTop {
  height: 230px;
  width: auto;
  position: relative;
}
@media (max-width: 575.98px) {
  .bottom-Banner .banner-imageTop {
    height: 170px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .bottom-Banner .banner-imageTop {
    height: 170px;
  }
}
.bottom-Banner .banner-imageTop .banner-images {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.bottom-Banner .shop-btn {
  background-color: #02adc7;
  position: absolute;
  top: 64%;
  right: 17%;
  border: none;
  height: 45px;
  color: white;
  font-size: 16px;
  font-family: Sf-Sb;
  width: 140px;
  border-radius: 6px;
}
.bottom-Banner #customPrevButton {
  position: absolute;
  top: 20px; /* Adjust top spacing as needed */
  right: 41px;
  font-size: 17px;
  padding: 0px 5px !important; /* Adjust right spacing as needed */
  background-color: #02adc7; /* Add your button background color */
  color: #fff; /* Add your button text color */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}
.bottom-Banner #customNextButton {
  position: absolute;
  font-size: 17px;
  padding: 0px 5px !important;
  top: 20px; /* Adjust top spacing as needed */
  right: 16px; /* Adjust right spacing as needed */
  background-color: #02adc7; /* Add your button background color */
  color: #fff; /* Add your button text color */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.top-Banner {
  width: 100%;
  height: auto;
  /* Decrease navigation button size */
}
.top-Banner .banner-imageTop {
  height: 230px;
  width: auto;
}
@media (max-width: 575.98px) {
  .top-Banner .banner-imageTop {
    height: 170px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .top-Banner .banner-imageTop {
    height: 170px;
  }
}
.top-Banner .banner-imageTop .banner-images {
  width: 100%;
  height: 100%;
}
.top-Banner .swiper-button-next,
.top-Banner .swiper-button-prev {
  color: white; /* Change to your desired color */
}
.top-Banner .swiper-button-next::after,
.top-Banner .swiper-button-prev::after {
  font-size: 20px;
}
.top-Banner .swiper-button-next,
.top-Banner .swiper-button-prev {
  font-size: 12px; /* Change to your desired font size */
}

.Mdeal-BnrTop .mdeal-image {
  width: 100%;
  height: auto;
}

.Mdeal-BnrBtm .mdeal-bottomImage {
  width: 100%;
  height: auto;
}

.product-card {
  width: 100%;
  height: 360px;
  padding-bottom: 2px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card {
    height: 266px;
  }
}
@media (max-width: 575.98px) {
  .product-card {
    height: 266px;
  }
}
.product-card .card-top {
  background: #efefef;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.product-card .card-top .productImg-top {
  width: auto;
  height: 160px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .card-top .productImg-top {
    height: 95px;
  }
}
@media (max-width: 575.98px) {
  .product-card .card-top .productImg-top {
    height: 95px;
  }
}
.product-card .card-top .productImg-top .product-cardImage {
  width: 100%;
  height: 100%;
}
.product-card .card-top .wishlist-icon {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 8px;
}
.product-card .product-body {
  padding: 8px 7px 7px;
}
.product-card .product-body .item-title {
  color: #000000;
  font-size: 12px;
  font-family: Sf-R;
  margin-bottom: 0px;
  height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .item-title {
    font-size: 11px;
  }
}
@media (max-width: 575.98px) {
  .product-card .product-body .item-title {
    height: 49px;
    font-size: 11px;
  }
}
.product-card .product-body .item-review .starss {
  font-size: 22px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .item-review .starss {
    font-size: 18px;
  }
}
.product-card .product-body .item-review .custemer-rivew {
  font-family: Sf-R;
  color: #508fa7;
  font-size: 13px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .item-review .custemer-rivew {
    font-size: 11px;
  }
}
.product-card .product-body .item-price {
  color: #508fa7;
  font-size: 18px;
  font-family: Sf-M;
  margin-bottom: 7px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .item-price {
    font-size: 11px;
  }
}
@media (max-width: 575.98px) {
  .product-card .product-body .item-price {
    font-size: 12px;
  }
}
.product-card .product-body .add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #02adc7;
  width: 100%;
  color: #fff;
  font-size: 12px;
  height: 40px;
  font-family: Sf-R;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .add-cart {
    font-size: 11px;
    height: 30px;
  }
}
@media (max-width: 575.98px) {
  .product-card .product-body .add-cart {
    font-size: 11px;
    height: 30px;
  }
}
.product-card .product-body .add-cart .bag-icon {
  height: 16px;
  width: auto;
  margin-right: 5px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-card .product-body .add-cart .bag-icon {
    height: 14px;
  }
}
@media (max-width: 575.98px) {
  .product-card .product-body .add-cart .bag-icon {
    height: 14px;
  }
}

.about-item {
  margin-top: 30px;
}
.about-item .about-item-image {
  height: 300px;
  width: 100%;
}
.about-item .about-item-image .top-image-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.about-item .about-ietm-carosual {
  padding-top: 30px;
}
.about-item .about-ietm-carosual .imageSlide-top {
  height: 100px;
  width: 100%;
}
.about-item .about-ietm-carosual .imageSlide-top .imagesBottm {
  width: 100%;
  height: 100%;
}
.about-item .about-ietm-carosual .swiper-button-next, .about-item .about-ietm-carosual .swiper-button-prev {
  font-family: "YourFont", sans-serif; /* Change 'YourFont' to the desired font family */
  font-size: 16px; /* Change the font size as needed */
  color: #000; /* Change the font color as needed */
}
.about-item .about-ietm-carosual .swiper-button-next::after, .about-item .about-ietm-carosual .swiper-button-prev::after {
  font-size: 18px;
}
.about-item .about-details {
  padding: 0px 30px;
}
.about-item .about-details .item-para {
  font-size: 21px;
  color: #272727;
  font-family: "SF-M";
}
@media (max-width: 575.98px) {
  .about-item .about-details .item-para {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .item-para {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-item .about-details .item-para {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .item-para {
    font-size: 21px;
  }
}
.about-item .about-details .cost-details {
  display: flex;
  align-items: center;
}
.about-item .about-details .cost-details .cost-offer {
  color: #D10808;
  font-size: 21px;
  font-family: "SF-Pro-Display-Medium";
}
@media (max-width: 575.98px) {
  .about-item .about-details .cost-details .cost-offer {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .cost-details .cost-offer {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-item .about-details .cost-details .cost-offer {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .cost-details .cost-offer {
    font-size: 21px;
  }
}
.about-item .about-details .cost-details .cost-offer .cost-confrim {
  color: #508FA7 !important;
  padding-left: 20px;
}
.about-item .about-details .inclusiveline {
  color: #272727;
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
}
@media (max-width: 575.98px) {
  .about-item .about-details .inclusiveline {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .inclusiveline {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-item .about-details .inclusiveline {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .inclusiveline {
    font-size: 16px;
  }
}
.about-item .about-details .quantity-details {
  padding-bottom: 20px;
}
.about-item .about-details .quantity-details .quantity-para {
  color: #272727;
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
}
@media (max-width: 575.98px) {
  .about-item .about-details .quantity-details .quantity-para {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .quantity-details .quantity-para {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-item .about-details .quantity-details .quantity-para {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .quantity-details .quantity-para {
    font-size: 16px;
  }
}
.about-item .about-details .quantity-details .quantity-increase {
  width: 100px;
  border: 2px solid #606060;
  padding: 5px;
  align-items: center;
  display: flex;
}
.about-item .about-details .quantity-details .quantity-increase .quantity-plus {
  color: #606060;
}
.about-item .about-details .add-to-cart-buttons {
  padding-bottom: 20px;
}
@media (max-width: 575.98px) {
  .about-item .about-details .add-to-cart-buttons {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .add-to-cart-buttons {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-item .about-details .add-to-cart-buttons {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .add-to-cart-buttons {
    display: flex;
    justify-content: space-between;
  }
}
.about-item .about-details .add-to-cart-buttons .addcartbutton {
  width: 300px;
  height: 45px;
  color: #000000;
  font-size: 18px;
  border: 2px solid #000000;
  border-radius: 30px;
  background: #FFFFFF;
  font-family: "SF-Pro-Display-Medium";
}
@media (max-width: 575.98px) {
  .about-item .about-details .add-to-cart-buttons .addcartbutton {
    width: 100%;
    font-size: 15px;
    height: 35px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .add-to-cart-buttons .addcartbutton {
    width: 100%;
    font-size: 18px;
    height: 35px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .add-to-cart-buttons .addcartbutton {
    width: 100%;
    font-size: 18px;
  }
}
.about-item .about-details .add-to-cart-buttons .buyitnowbutton {
  width: 300px;
  height: 45px;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 5px;
  background: #02ADC7;
  font-family: "SF-Pro-Display-Medium";
  margin-left: 20px;
}
@media (max-width: 575.98px) {
  .about-item .about-details .add-to-cart-buttons .buyitnowbutton {
    width: 100%;
    font-size: 15px;
    height: 35px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .add-to-cart-buttons .buyitnowbutton {
    width: 100%;
    font-size: 16px;
    height: 35px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .add-to-cart-buttons .buyitnowbutton {
    width: 100%;
    font-size: 18px;
  }
}
.about-item .about-details .globalpointline .globalpurchase {
  color: #272727;
  font-size: 18px;
  font-family: "SF-Pro-Display-Regular";
}
@media (max-width: 575.98px) {
  .about-item .about-details .globalpointline .globalpurchase {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .globalpointline .globalpurchase {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-item .about-details .globalpointline .globalpurchase {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .globalpointline .globalpurchase {
    font-size: 16px;
  }
}
.about-item .about-details .rating-stars .write-review {
  color: #508FA7;
  font-size: 24px;
  font-family: "SF-Pro-Display-Medium";
}
@media (max-width: 575.98px) {
  .about-item .about-details .rating-stars .write-review {
    font-size: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .rating-stars .write-review {
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-item .about-details .rating-stars .write-review {
    font-size: 22px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .rating-stars .write-review {
    font-size: 26px;
  }
}
.about-item .about-details .costumer-review {
  font-size: 28px;
  color: #272727;
  font-family: "SF-Pro-Display-Medium";
}
@media (max-width: 575.98px) {
  .about-item .about-details .costumer-review {
    font-size: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about-item .about-details .costumer-review {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-item .about-details .costumer-review {
    font-size: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-item .about-details .costumer-review {
    font-size: 26px;
  }
}

.global-aims-footer {
  width: 100%;
  height: auto;
  background: #fff;
  padding-top: 20px;
}
.global-aims-footer .globalaim {
  margin-top: 60px;
}
@media (max-width: 575.98px) {
  .global-aims-footer .globalaim {
    margin-top: 10px;
    padding-left: 10px;
  }
}
.global-aims-footer .globalaim .globalaimpara {
  color: #272727;
  font-size: 15px;
  font-family: Sf-R;
}
@media (max-width: 575.98px) {
  .global-aims-footer .globalaim .globalaimpara {
    font-size: 13px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .global-aims-footer .globalaim .globalaimpara {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .globalaim .globalaimpara {
    font-size: 11px;
  }
}
.global-aims-footer .globalaim .supportemail {
  display: flex;
  align-items: center;
}
.global-aims-footer .globalaim .supportemail .supportemailicon {
  color: #508fa7;
}
.global-aims-footer .globalaim .supportemail .gm-email {
  color: #272727;
  font-size: 13px;
  font-family: Sf-R;
  padding-top: 14px;
  padding-left: 10px;
}
@media (max-width: 575.98px) {
  .global-aims-footer .globalaim .supportemail .gm-email {
    font-size: 9px;
    padding-top: 14px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .global-aims-footer .globalaim .supportemail .gm-email {
    font-size: 11px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .globalaim .supportemail .gm-email {
    font-size: 10px;
  }
}
.global-aims-footer .globalaim .supportemail .gm-email .gm-number {
  margin-top: -10px;
}
.global-aims-footer .categories {
  padding-left: 20px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .global-aims-footer .categories {
    padding-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .categories {
    padding-left: 40px;
  }
}
.global-aims-footer .categories .categoriesheader {
  color: #000000;
  font-size: 22px;
  font-family: Sf-M;
}
@media (max-width: 575.98px) {
  .global-aims-footer .categories .categoriesheader {
    font-size: 12px;
    padding-top: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .global-aims-footer .categories .categoriesheader {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .categories .categoriesheader {
    font-size: 15px;
  }
}
.global-aims-footer .categories .categoriesitems {
  padding-top: 5px;
}
@media (max-width: 575.98px) {
  .global-aims-footer .categories .categoriesitems {
    padding-top: 0px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .global-aims-footer .categories .categoriesitems {
    padding-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .categories .categoriesitems {
    padding-top: 0px;
  }
}
.global-aims-footer .categories .categoriesitems .categoriesmaterials {
  color: #272727;
  font-size: 15px;
  font-family: Sf-R;
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .global-aims-footer .categories .categoriesitems .categoriesmaterials {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .global-aims-footer .categories .categoriesitems .categoriesmaterials {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .categories .categoriesitems .categoriesmaterials {
    font-size: 12px;
  }
}
.global-aims-footer .categories .categoriesicons {
  margin-top: 20px;
}
.global-aims-footer .categories .categoriesicons .categoriesmaterialsicons {
  color: #02adc7;
  width: 30px;
  height: 30px;
  border: 2px solid #02adc7;
  border-radius: 8px;
  padding: 6px;
}
@media (max-width: 575.98px) {
  .global-aims-footer .categories .categoriesicons .categoriesmaterialsicons {
    width: 22px;
    height: 22px;
    padding: 2px;
    border-radius: 2px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .categories .categoriesicons .categoriesmaterialsicons {
    width: 22px;
    height: 22px;
    padding: 2px;
    border-radius: 3px;
  }
}
.global-aims-footer .categories .categoriesimage .categorieimg {
  align-items: center;
  display: flex;
  padding-top: 20px;
}
.global-aims-footer .categories .categoriesimage .categorieimg .categoriespenicon {
  color: #02adc7;
  width: 30px;
  height: 30px;
  border: 2px solid #02adc7;
  border-radius: 8px;
  padding: 6px;
}
@media (max-width: 575.98px) {
  .global-aims-footer .categories .categoriesimage .categorieimg .categoriespenicon {
    width: 22px;
    height: 22px;
    padding: 4px;
    border-radius: 2px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .categories .categoriesimage .categorieimg .categoriespenicon {
    width: 22px;
    height: 22px;
    padding: 2px;
    border-radius: 3px;
  }
}
.global-aims-footer .categories .categoriesimage .categorieimg .categories-google-review {
  color: #02adc7;
  font-size: 15px;
  font-family: Sf-R;
  padding-left: 10px;
}
@media (max-width: 575.98px) {
  .global-aims-footer .categories .categoriesimage .categorieimg .categories-google-review {
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .categories .categoriesimage .categorieimg .categories-google-review {
    font-size: 15px;
  }
}
.global-aims-footer .categories .visa {
  margin-top: 120px;
}
@media (max-width: 575.98px) {
  .global-aims-footer .categories .visa {
    margin-top: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .global-aims-footer .categories .visa {
    margin-top: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .categories .visa {
    margin-top: 80px;
  }
}
.global-aims-footer .categories .visa .visa-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (max-width: 575.98px) {
  .global-aims-footer .categories .visa .visa-image {
    width: 25px;
    height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .global-aims-footer .categories .visa .visa-image {
    width: 37px;
    height: 40px;
    border-radius: 50%;
  }
}
.global-aims-footer .footeraim .footerglobal {
  color: #272727;
  font-size: 13px;
  font-family: Sf-R;
  padding-top: 14px;
  padding-left: 10px;
  text-align: center;
}
@media (max-width: 575.98px) {
  .global-aims-footer .footeraim .footerglobal {
    font-size: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .global-aims-footer .footeraim .footerglobal {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */